<h2> Your Leagues: </h2>
<% current_user.leagues.each do |league| %>
  <%= link_to league_path league do %>
    <div class="league-container">
      <div class="league-name-container">
        <%= league.name %>
      </div>
      <div class="league-describtion-container">
        <%= league.describtion %>
      </div>
    </div>
  <% end %>
<% end %>

<h2> Create a new league </h2>
<%= form_for @league = League.new, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :describtion, size: "60x12" %>
  <%= f.submit "Create" %>
<% end %>