<h2> Your Leagues: </h2>
<% current_user.leagues.each do |league| %>
  <%= link_to league_path league do %>
    <div class="league-container">
      <div class="league-name-container">
        <%= league.name %>
      </div>
      <div class="league-describtion-container">
        <%= league.describtion %>
      </div>
    </div>
  <% end %>
<% end %>

<% if current_user.invitations.any? %>

  <h2> You are invited to the following league(s) </h2>

  <div class="invitation-container">
    <% current_user.invitations.each do |invitation| %>
      <div class="invitation-item">
        <span> You are invited to the league </span>
        <span> <%= "\"#{invitation.league.name}\"" %> </span>
        <span> by </span>
        <span> <%= "#{invitation.inviter.first_name} #{invitation.inviter.last_name}" %>  </span>
      </div>
      <%= button_to "Accept", invitation_path(invitation.id), method: :put %>
      <%= button_to "Decline", invitation_path(invitation.id),
      :class => "invitation-decline-btn", :method => :delete %>
    <% end %>
  </div>

<% end %>

<h2> Create a new league </h2>
<%= form_for @league = League.new, url: {action: "create"}, html: {class: "pure-form pure-form-stacked"} do |f| %>
  <fieldset>
    <label for="name">Name</label>
    <%= f.text_field :name %>
    <label for="describtion">Description</label>
    <%= f.text_area :describtion, size: "30x6" %>
    <%= f.submit "Create", class: 'pure-button pure-button-primary'%>
  </fieldset>
<% end %>
