<!DOCTYPE html>
<html data-ember-extension="1" class="yui3-js-enabled">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elo League</title>
    <%# javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  </head>
  <body>
    <div class="header">
      <%= link_to 'Elo-League', root_path, :class=>"header-title" %>
      <div class="header-elements"> </div>
        <% if user_signed_in? %>
          <%= link_to 'Leagues', leagues_path, :class=>"header-elements header-main" %>
          <%= link_to 'Sign out', "/logout", :method => :delete, :class=>"header-elements" %>
          <%= link_to 'Account', edit_user_registration_path, :class=>"header-elements" %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path, :class=>"header-elements" %>
          <%= link_to 'Sign up', new_user_registration_path, :class=>"header-elements" %>
        <% end %>
      </div>
    </div>

    <div class="page-content">
      <%= yield %>
    </div>

  </body>
</html>
